@import url(https://fonts.googleapis.com/css?family=Inter:regular);

@font-face {
   font-family: "Gilroy";
   src: 
   url('../asset/font/Gilroy-Regular.woff2') format('woff2'),
   url('../asset/font/Gilroy-Regular.woff') format('woff');
   font-display: swap;
   font-weight: 400;
   font-style: normal;
}
@font-face {
   font-family: "Gilroy";
   src: 
   url('../asset/font/Gilroy-Medium.woff2') format('woff2'),
   url('../asset/font/Gilroy-Medium.woff') format('woff');
   font-display: swap;
   font-weight: 500;
   font-style: normal;
}
@font-face {
   font-family: "Gilroy";
   src: 
   url('../asset/font/Gilroy-Semibold.woff2') format('woff2'),
   url('../asset/font/Gilroy-Semibold.woff') format('woff');
   font-display: swap;
   font-weight: 600;
   font-style: normal;
}
@font-face {
   font-family: "Gilroy";
   src: 
   url('../asset/font/Gilroy-Bold.woff2') format('woff2'),
   url('../asset/font/Gilroy-Bold.woff') format('woff');
   font-display: swap;
   font-weight: 700;
   font-style: normal;
}
@font-face {
   font-family: "SF Pro Text";
   src: 
   url('../asset/font/SFProDisplay-Regular.woff2') format('woff2'),
   url('../asset/font/SFProDisplay-Regular.woff') format('woff');
   font-display: swap;
   font-weight: 400;
   font-style: normal;
}
@font-face {
   font-family: "SF Pro Text";
   src: 
   url('../asset/font/SFProDisplay-Semibold.woff2') format('woff2'),
   url('../asset/font/SFProDisplay-Semibold.woff') format('woff');
   font-display: swap;
   font-weight: 600;
   font-style: normal;
}
