.home-page {
  width: 100vw;
  height: 100vh;
  padding: 1rem;

  &__search {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__weather-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 3rem;
    padding: 2rem 0.5rem;
  }
}

@media (max-width: 768px) {
  .home-page {
    &__weather-list {
      gap: 1.5rem;
      padding: 1rem 0.2rem;
    }

    &__search {
      margin-bottom: 1.2rem;
      &-input {
        max-width: 100%;
        font-size: 1rem;
        padding: 1rem 1rem;
      }
    }
  }
}

@media (max-width: 480px) {
  .home-page {
    &__weather-list {
      gap: 1rem;
      padding: 0.5rem 0;
    }

    &__search {
      margin-bottom: 2rem;
      &-input {
        padding: 0.8rem 0.8rem;
      }
    }
  }
}
